.poster {
    background: url('/src/assets/image/background.svg');
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
    overflow: hidden;
}
.poster-content {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.content-text {
    display: flex;
    flex-direction: column;
}
.trend {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}
.line {
    width: 30px;
    height: 1px;
    background-color: red;
    margin-right: 3px;
}
.poster-title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 5px;
}
.poster-title span {
    font-size: 50px;
    text-transform: uppercase;
    color: #000;
}
.discover {
    display: block;
    width: 105px;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1.5px solid #000;
}
.image {
    display: block;
    height: 480px;
    margin-right: 70px;
}
@media screen and (min-width:767px) and (max-width: 1023px) {
    .poster{
        height: 400px;
    }
    .image {
        height: 350px;
        margin-right: 50px;
    }
    .trend, .discover {
        font-size: 12px;
    }
    .poster-title span {
        font-size: 40px;
    }
    .poster-title {
        font-size: 40px;
    }
    .discover {
        width: 100px;
    }
}
@media screen and (max-width: 767px)  {
    .poster {
        height: 200px;
    }
    .image {
        height: 200px;
    }
    .trend, .discover {
        font-size: 10px;
    }
    .discover {
        width: 81px;
    }
    .line {
        width: 20px;
    }
    .poster-title span {
        font-size: 20px;
    }
    .poster-title {
        font-size: 20px;
    }
}