.container {
    margin-top: 50px;
    padding: 0px 80px;
}
.cart_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
@media screen and (max-width: 767px) {
    .cart_container {
        justify-content: center;
    }
}